.catalogbar {
  position: relative;
  width: 100%;
  height: 100px;
  color: $text_color;
  transition: 200ms;
  &__head {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 15px 20px;
    background-color: $main_color;
  }
  &__title {
    flex: 0 1 65%;
    font-family: UniSansHeavyCaps, sans-serif;
    font-size: 30px;
    font-weight: 400;
    cursor: default;
  }
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 36px;
    height: 36px;
    background-color: $main_color_dark;
    cursor: pointer;
  }
  &__btnline {
    width: 24px;
    height: 2px;
    background-color: $text_color;
  }
  &__body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $main_color;
  }
  &__list {
  }
  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid $main_color_light;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    &_menu {
      position: relative;
      &::before {
        position: absolute;
        right: 10px;
        font-size: 16px;
        transition: 300ms;
      }
    }
    @media($media-mnw1){
      &:hover {
        background-color: $main_color_dark;
      }
    }
  }
}