.catalogbar {
  position: relative;
  width: 200%;
  color: $main-text_color;
  overflow: hidden;
  &__head {
    position: relative;
    z-index: 40;
  }
  &__body {
  }
}
// -------------------------------------head-------------------------------------
.ctlg-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100px;
  padding: 15px 20px;
  background-color: $main_color;
  @media ($media-mxw2) {
    height: 70px;
  }
  @media ($media-mxw3) {
    height: 60px;
    padding-left: 15px;
    padding-right: 10px;
  }
  @media ($media-mxw3) {
    height: 50px;
  }
  &__title {
    flex: 0 1 65%;
    font-family: UniSansHeavyCaps, sans-serif;
    font-size: 30px;
    font-weight: 400;
    cursor: default;
    @media ($media-mxw3) {
      flex: 0 1 80%;
      font-size: 24px;
    }
    @media ($media-mxw5) {
      font-size: 20px;
    }
  }
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 36px;
    height: 36px;
    background-color: $main_color_dark;
    cursor: pointer;
    &.active {
      & .ctlg-head__btnline:first-child{
        transform: translateY(7px) rotate(45deg);
      }
      & .ctlg-head__btnline:nth-child(2){
        width: 0;
      }
      & .ctlg-head__btnline:last-child{
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
  &__btnline {
    width: 24px;
    height: 2px;
    background-color: $main-text_color;
    transition: 200ms;
  }
}
// -------------------------------------body-------------------------------------
.ctlg-body {
  width: 100%;
  max-height: 0;
  transition: max-height 300ms;
  overflow: hidden;
  &__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__menu {
  }
  &__link {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid $main_color_light;
    background-color: $main_color;
    font-size: 12px;
    font-weight: 300;
    line-height: 40px;
    cursor: pointer;
    &_menu {
      &::before {
        position: absolute;
        right: calc(50% + 10px);
        font-size: 16px;
        line-height: 40px;
        transition: 200ms;
      }
      &.active {
        &::before {
          transform: rotate(90deg);
        }
      }
    }
    @media($media-mnw1){
      &:hover {
        background-color: $main_color_dark;
      }
    }
  }
  &__panel{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 39;
    @media ($media-mxw2) {
      position: relative;
      left: auto;
    }
  }
  &.active {
    max-height: 2000px;
    transition: max-height 800ms;
  }
}
// -------------------------------------panel-------------------------------------
.ctlg-panel {
  width: 50%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  &__item {
    position: relative;
    z-index: 37;
    width: 100%;
    height: 100%;
    border: 2px solid $main_color;
    border-left: none;
    background-color: $bg_color;
    transform: translate(-100%, 0);
    transition: 300ms;
    @media ($media-mxw2) {
      border: none;
      background-color: $main_color_pale;
      transform: translate(0, 0);
    }
  }
  &__tipes {
    padding: 12px 0 12px;
    color: $main_color_light;
    @media ($media-mxw2) {
      padding: 0;
    }
  }
  &__list {
  }
  &__link {
    width: 100%;
    height: 36px;
    padding-left: 25px;
    line-height: 36px;
    @media($media-mnw1){
      &:hover {
        background-color: $main_color_pale;
        color: $main-text_color;
      }
    }
    @media ($media-mxw2) {
      height: 40px;
      padding-left: 40px;
      border-bottom: 1px solid $main_color_light;
      line-height: 36px;
      color: $main-text_color;
    }
  }
  &__products {
    padding: 2px;
    @media ($media-mxw2) {
      display: none;
    }
  }
  &__product-card {
  }
  @media ($media-mnw1) {
    &.active {
      pointer-events: auto;
      z-index: 38;
      & .ctlg-panel__item {
        transform: translate(0, 0);
      }
    }
  }
  @media ($media-mxw2) {
    width: 100%;
    max-height: 0;
    transition: 200ms;
    &.active {
      max-height: 300px;
      pointer-events: auto;
    }
  }
}