.catalogbar {
  width: 100%;
  color: $text_color;
  background-color: $main_color;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }
  &__title {
    flex: 0 1 65%;
    font-family: UniSansHeavyCaps, sans-serif;
    font-size: 30px;
    font-weight: 400;
    cursor: default;
  }
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 36px;
    height: 36px;
    background-color: $main_color_dark;
    cursor: pointer;
  }
  &__btnline {
    width: 24px;
    height: 2px;
    background-color: $text_color;
  }
  &__body {
    display: none;
    padding-bottom: 8px;
    transition: 300px;
    &.active {
      display: block;

    }
  }
  &__list {
    &_hiden {
      display: none;
      transition: 200ms;
      &.active {
        display: block;
      }
    }
  }
  &__item {
    width: 100%;
    &:last-child .catalogbar__link {
      border-bottom: none;
    }
    &_menu {
    }
  }
  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-bottom: 1px solid $main_color_light;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    &_menu {
      position: relative;
      &::before {
        position: absolute;
        right: 10px;
        font-size: 16px;
        transition: 300ms;
      }
      &.active::before {
        transform: rotate(90deg);
      }
    }
    &_hiden {
      padding-left: 50px;
      background-color: $main_color_pale;
      &::before {
        margin-right: 8px;
        font-size: 9px;
      }
    }
    &:hover {
      background-color: $main_color_dark;
    }
  }
}
