.rub {
  &::after {
    content: ' ₽';
  }
}

.basket {
  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &__image {
      font-size: 24px;
      line-height: 0;
      color: $main-text_color;
  }
  &_header {
    & .basket__circle{
      width: 44px;
      height: 44px;
      background-color: $main_color;
    }
  }
  &_product {
    & .basket__circle{
      width: 40px;
      height: 40px;
      background-color: $second_color_medium;
      @media ($media-mnw1) {
        &:hover {
          background-color: $third_color;
        }
      }
    }
  }
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 14px 22px;
  border: 1px solid $second_color_medium;
  overflow: hidden;
  &__labels-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
  }
  &__label {
    height: 22px;
    padding: 0 16px;
    border-radius: 11px;
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
    &_day {
      background-color: $main_color_light;
    }
    &_new {
      background-color: $third_color;
    }
  }
  &__link {
    font-size: 15px;
    margin-bottom: 25px;
    @media($media-mnw1){
      &:hover .product-card__title {
        text-decoration: underline;
      }
      &:hover .product-card__subtitle {
        text-decoration: underline;
      }
    }
  }
  &__image {
    margin-bottom: 10px;
    & img{
      width: 100%;
    }
  }
  &__title {
    color: $main_color;
    font-weight: 900;
  }
  &__subtitle {
    color: $main_color;
  }
  &__old-price {
    align-self: flex-end;
    font-size: 18px;
    text-decoration-line: line-through;
    color: $second_color_dark;
    cursor: default;
    &::after {
      font-size: 12px;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__basket {
  }
  &__price {
    font-size: 24px;
    font-weight: 900;
    color: $second_color_black;
    cursor: default;
    &::after {
      font-size: 18px;
    }
  }
}