.footer {
  width: 100%;
  &__up-block {
    margin-bottom: 40px;
  }
  &__down-block {
  }
}
// ----------------------------------------------footer-up----------------------------------------------
.footer-up {
  padding: 10px 0;
  &__container {
  }
  &__block {
    display: flex;
    gap: 40px;
    padding: 15px 10px;
    &_info {
    }
    &_help {
    }
  }
  &__title {
    font-size: 14px;
    font-weight: 900;
    cursor: default;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__link {
    color: $main_color_light;
    @media ($media-mnw1) {
      &:hover {
        color: $second_color_black;
      }
    }
  }
  &__line {
    width: 555px;
    height: 1px;
    background-color: $second_color_medium;
  }
}
// ----------------------------------------------footer-down----------------------------------------------
.footer-down {
  &__container {
  }
  &__up-block {
    display: flex;
    gap: 3%;
    margin-bottom: 25px;
  }
  &__left-colomn {
    flex: 0 0 48.5%;
  }
  &__info {
    display: flex;
    gap: 45px;
    margin-bottom: 40px;
  }
  &__main-info {
    flex: 0 0 30%;
  }
  &__logo {
    height: 90px;
    margin-bottom: 26px;
  }
  &__phones {
  }
  &__delivery {
  }
  &__pay-services {
    
  }
  &__pay-link {
    max-width: 50px;
    margin-right: 20px;
  }
  &__right-colomn {
    flex: 0 0 48.5%;
    border: 1px solid #000;
  }
  &__api-left {
  }
  &__api-right {
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: $second_color_medium;
  }
  &__down-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
  }
  &__license {
    color: $second_color_dark;
    cursor: default;
  }
  &__social-block {
    display: flex;
    gap: 15px;
  }
  &__social {
    &::before {
      font-size: 30px;
    }
    &_vk {
      &::before {
        color: $color_vk;
      }
    }
    &_facebook {
      &::before {
        color: $color_facebook;
      }
    }
    &_instagram {
      &::before {
        color: $color_instagram;
      }
    }
    &_telegram {
      &::before {
        color: $color_telegram;
      }
    }
  }
}
// ----------------------------------------------blocks----------------------------------------------
.footer-phones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__icon {
    &::before {
      font-size: 30px;
    }
  }
  &__phones {
    display: flex;
    flex-direction: column;
  }
  &__number {
    font-size: 14px;
    font-weight: 900;
  }
}
.footer-delivery {
  &__title {
    margin-bottom: 15px;
    color: $second_color_dark;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__items {
    display: grid;
    grid-template: repeat(2, 50px) / repeat(3, 30%);
    column-gap: 5%;
    row-gap: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      object-fit: contain;
    }
  }
}
