.header {
  &__upblock {
    height: 90px;
    background-color: $blue;
    color: #fff;
    @media($media-mw3){
      height: 60px;
    }
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__menu {
    flex: 0 0 37%;
  }
  &__centerelement {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 130px;
    padding-bottom: 40px;
    border-radius: 0% 0% 50% 50% / 0% 0% 45% 45%;
    background-color: $blue;
    @media($media-mw3){
      align-items: center;
      height: 60px;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  &__logo {
  }
  &__phones {
  }
  &__downblock {
    height: 70px;
    padding-bottom: 5px;
  }
  &__input {
  }
  &__interplay {
  }
}
// -------------------------------------menu-------------------------------------
.menu {
  height: 100%;
  padding: 12px 0 20px;
  @media($media-mw2){
    padding: 12px 0 16px;
  }
  @media($media-mw3){
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
}
  &__icon {
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 18px;
    cursor: pointer;
    overflow: hidden;
    &.active {
      width: 24px;
      height: 24px;
      transform: translate(3px);
      & .menu__iconline:first-child{
        width: 40px;
        transform: rotate(45deg);
        transform-origin: 3px -3px 0;
      }
      & .menu__iconline:nth-child(2){
        transform: translate(-100%);
      }
      & .menu__iconline:last-child{
        width: 40px;
        transform: rotate(-45deg);
        transform-origin: 2px 3px 0;
      }
    }
    @media($media-mw3) {
      display: flex;
    }
  }
  &__iconline {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 300ms;
  }
  &__nav {
  }
}
.navigation {
  height: 100%;
  @media($media-mw3){
    position: fixed;
    z-index: 5;
    top: 60px;
    left: -100%;
    width: 300px;
    height: 100%;
    background-color: rgba(7, 140, 158, 0.7);
    transition: 500ms;
    &.active {
      left: 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    @media($media-mw2){
      align-content: flex-start;
    }
    @media($media-mw3){
      justify-content: flex-start;
      gap: 26px;
      padding: 25px 30px;
    }
  }
  &__item {
    align-self: flex-start;
    margin-right: 5px;
    border-radius: 14px;
    background-color: $blue;
    transition: 300ms;
    &:hover {
      background-color: $dark-blue;
    }
    @media($media-mw3){
      background-color: transparent;
    }
  }
  &__link {
    padding: 5px 22px;
    color: #fff;
    font-family: Play, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
    @media ($media-mw1){
      padding: 5px 15px;
      font-size: 12px;
    }
    @media ($media-mw2){
      padding: 0 10px;
    }
    @media ($media-mw3){
      font-size: 18px;
      padding: 0;
  }
  }
}
// -------------------------------------logo-------------------------------------
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  @media($media-mw3){
    gap: 2px;
  }
  &__image {
    width: 180px;
    @media($media-mw3){
      width: 120px;
    }
  }
  &__text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    cursor: default;
    @media($media-mw3){
      font-size: 10px;
    }
  }
}
// -------------------------------------phones-------------------------------------
.phones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4%;
  flex: 0 0 38%;
  padding: 9px 40px 18px 0;
  @media ($media-mw1){
    flex: 0 0 37%;
    padding: 9px 15px 18px 0;
  }
  @media ($media-mw2){
    justify-content: flex-end;
  }
  @media ($media-mw3){
    padding: 0 15px 0 0;
  }
  &__block {
  }
  &__icon {
    font-size: 35px;
    line-height: 25px;
  }
  &__line {
    width: 1px;
    height: 30px;
    background-color: #fff;
    @media ($media-mw1){
      height: 25px;
    }
    @media ($media-mw2){
      display: none;
    }
  }
}
.phonesblock {
  &__location {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    cursor: default;
    @media ($media-mw1){
      font-size: 11px;
    }
  }
  &__number {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 900;
    @media ($media-mw1){
      font-size: 14px;
    }
  }
  &_msk {
    @media ($media-mw2){
      display: none;
    }
  }
  &_rus {
    @media ($media-mw3){
      display: none;
    }
  }
}
// -------------------------------------input-------------------------------------
.link {
  display: flex;
  align-items: center;
  gap: 8px;
  @media ($media-mw1){
    gap: 5px;
  }
  &__icon {
    color: $grey_text;
    font-size: 24px;
    line-height: 0;
    transition: 200ms;
    @media ($media-mw1){
      font-size: 20px;
    }
    @media ($media-mw2){
      font-size: 14px;
    }
  }
  &__text {
    color: $grey_text;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: 200ms;
    border-bottom: 1px dashed $grey_text;
    @media ($media-mw1){
      font-size: 12px;
    }
  }
  &:hover {
    .link__icon {
      color: $light-blue;
    }
    .link__text {
      color: $light-blue;
      border-bottom:  1px dashed $light-blue;
    }
  }
  &_email {
    .link__icon {
      font-size: 20px;
      @media ($media-mw2){
          font-size: 14px;
      }
    }
    .link__text {
      border-bottom: 1px solid $grey_text;
    }
    &:hover {
      .link__text {
        border-bottom:  1px solid $light-blue;
      }
    }
  }
}
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  flex: 0 0 37%;
  padding-left: 20px;
  @media ($media-mw1){
    gap: 6%;
    padding-left: 10px;
  }
  @media($media-mw2){
    gap: 4%;
    justify-content: flex-start;
  }
  &__link{
  }
}
// -------------------------------------interplay-------------------------------------
.interplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  flex: 0 0 40%;
  padding-right: 35px;
  @media ($media-mw1){
    gap: 5%;
    flex: 0 0 38%;
    padding-right: 10px;
  }
  @media ($media-mw2){
    justify-content: flex-end;
  }
  &__link {
    @media($media-mw2){
      display: none;
    }
  }
  &__timetable {
  }
  &__basket {
    position: relative;
  }
  &__amount {
    position: absolute;
    top: -8px;
    left: 28px;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: $orange;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    @media ($media-mw1){
      font-size: 12px;
      line-height: 12px;
    }
  }
}
.timetable {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: default;
  @media ($media-mw1){
    gap: 4px;
  }
  &__icon {
    color: $grey_text;
    font-size: 28px;
    line-height: 0;
    @media ($media-mw1){
      font-size: 24px;
    }
  }
  &__text {
    color: $grey_text;
    @media ($media-mw1){
      font-size: 9px;
    }
  }
  &__time {
    &_bold {
      font-weight: 900;
    }
  }
}