.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  &__up-block {
    height: 90px;
    background-color: $main_color;
    color: $main-text_color;
    @media($media-mxw3){
      height: 60px;
    }
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__menu {
    flex: 0 0 37%;
  }
  &__center-element {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 130px;
    padding-bottom: 40px;
    border-radius: 0% 0% 50% 50% / 0% 0% 45% 45%;
    background-color: $main_color;
    @media($media-mxw3){
      align-items: center;
      height: 60px;
      padding-bottom: 0;
      border-radius: 0;
      background-color: transparent;
    }
  }
  &__logo {
  }
  &__phones {
  }
  &__down-block {
    height: 70px;
    background-color: $bg_color;
    @media($media-mxw3){
      height: 40px;
    }
    @media($media-mxw4){
      height: 0;
    }
  }
  &__input {
  }
  &__interplay {
  }
}
// -------------------------------------menu-------------------------------------
.menu {
  height: 100%;
  padding: 12px 0 20px;
  @media($media-mxw2){
    padding: 12px 0 16px;
  }
  @media($media-mxw3){
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
  }
  @media($media-mxw3){
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
  }
  @media($media-mxw4){
    padding: 0;
  }
  &__icon {
    z-index: 21;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    padding: 5px 0;
    cursor: pointer;
    overflow: hidden;
    &.active {
      & .menu__icon-line:first-child{
        transform: translateY(9px) rotate(45deg);
      }
      & .menu__icon-line:nth-child(2){
        width: 0;
        transform: translate(15px);
      }
      & .menu__icon-line:last-child{
        transform: translateY(-9px) rotate(-45deg);
      }
    }
    @media($media-mxw3) {
      display: flex;
    }
  }
  &__icon-line {
    width: 100%;
    height: 2px;
    transition: 200ms;
    background-color: $main-text_color;
  }
  &__nav {
  }
}
.navigation {
  height: 100%;
  @media($media-mxw3){
    position: fixed;
    z-index: 19;
    top: 60px;
    left: -100%;
    width: 320px;
    height: 100%;
    background-color: rgba(7, 140, 158, 0.9);
    transition: 300ms;
    &.active {
      left: 0;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    @media($media-mxw2){
      align-content: flex-start;
    }
    @media($media-mxw3){
      justify-content: flex-start;
      gap: 26px;
      padding: 25px 30px;
    }
  }
  &__item {
    align-self: flex-start;
    margin-right: 5px;
    border-radius: 14px;
    transition: 200ms;
    @media($media-mnw1){
      &:hover {
        background-color: $main_color_dark;
      }
    }
  }
  &__link {
    padding: 5px 22px;
    font-family: Play, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: underline;
    @media ($media-mxw1){
      padding: 5px 15px;
      font-size: 12px;
    }
    @media ($media-mxw2){
      padding: 0 10px;
    }
    @media ($media-mxw3){
      font-size: 18px;
      padding: 0;
  }
  }
}
// -------------------------------------logo-------------------------------------
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  @media($media-mxw3){
    gap: 2px;
  }
  &__image {
    width: 180px;
    @media($media-mxw3){
      width: 120px;
    }
  }
  &__text {
    font-size: 12px;
    font-weight: 300;
    cursor: default;
    @media($media-mxw3){
      font-size: 10px;
    }
  }
}
// -------------------------------------phones-------------------------------------
.phones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4%;
  flex: 0 0 38%;
  padding: 9px 40px 18px 0;
  @media ($media-mxw1){
    flex: 0 0 37%;
    padding: 9px 15px 18px 0;
  }
  @media ($media-mxw2){
    justify-content: flex-end;
  }
  @media ($media-mxw3){
    padding: 0 10px 0 0;
  }
  @media ($media-mxw4){
    gap: 0;
    padding: 0;
  }
  &__block {
  }
  &__icon {
    font-size: 35px;
    line-height: 25px;
    @media ($media-mxw4) {
      font-size: 27px;
    }
  }
  &__line {
    width: 1px;
    height: 30px;
    background-color: $main-text_color;
    @media ($media-mxw1){
      height: 25px;
    }
    @media ($media-mxw2){
      display: none;
    }
  }
}
.phones-block {
  &__location {
    font-size: 12px;
    font-weight: 300;
    cursor: default;
    @media ($media-mxw1){
      font-size: 11px;
    }
  }
  &__number {
    font-size: 18px;
    font-weight: 900;
    @media ($media-mxw1){
      font-size: 14px;
    }
  }
  &_msk {
    @media ($media-mxw2){
      display: none;
    }
  }
  &_rus {
    @media ($media-mxw3){
      display: none;
    }
  }
}
// -------------------------------------input-------------------------------------
.link {
  display: flex;
  align-items: center;
  gap: 8px;
  @media ($media-mxw1){
    gap: 5px;
  }
  &__icon {
    color: $second_color_dark;
    font-size: 22px;
    line-height: 0;
    transition: 200ms;
    @media ($media-mxw1){
      font-size: 20px;
    }
    @media ($media-mxw2){
      font-size: 14px;
    }
  }
  &__text {
    color: $second_color_dark;
    font-size: 14px;
    font-weight: 400;
    transition: 200ms;
    border-bottom: 1px dashed $second_color_dark;
    @media ($media-mxw1){
      font-size: 12px;
    }
  }
  @media($media-mnw1){
    &:hover {
      color: $main_color_light;
      .link__icon {
        color: $main_color_light;
      }
      .link__text {
        color: $main_color_light;
        border-bottom:  1px dashed $main_color_light;
      }
    }
  }
  &_email {
    @media($media-mxw2){
      display: none;
    }
    @media($media-mxw3){
      display: flex;
    }
    .link__icon {
      font-size: 20px;
      @media ($media-mxw3){
          font-size: 14px;
      }
    }
    .link__text {
      border-bottom: 1px solid $second_color_dark;
    }
    @media($media-mnw1){
      &:hover {
        .link__text {
          border-bottom:  1px solid $main_color_light;
        }
      }
    }
  }
}
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  flex: 0 0 37%;
  padding-left: 20px;
  @media ($media-mxw1){
    gap: 6%;
    padding-left: 10px;
  }
  @media($media-mxw2){
    gap: 10%;
    justify-content: flex-start;
  }
  @media($media-mxw3){
    justify-content: space-between;
    gap: 0;
    flex: 0 0 100%;
    padding: 0 10px;
  }
  @media($media-mxw4){
    display: none;
  }
  &__link{
  }
}
// -------------------------------------interplay-------------------------------------
.interplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  flex: 0 0 40%;
  padding-right: 35px;
  @media ($media-mxw1){
    gap: 5%;
    flex: 0 0 38%;
    padding-right: 10px;
  }
  @media ($media-mxw2){
    gap: 10%;
    justify-content: flex-end;
  }
  @media ($media-mxw3){
    display: none;
  }
  
  &__link {
    @media($media-mxw2){
      display: none;
    }
    @media($media-mxw3){
      display: flex;
    }
  }
  &__timetable {
  }
  &__basket {
    position: relative;
    @media ($media-mxw3){
      & .basket__circle {
        width: 35px;
        height: 35px;
        background-color: transparent
      }
      & .basket__image {
        font-size: 20px;
    }
    }
  }
  &__amount {
    position: absolute;
    top: -8px;
    left: 28px;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: $third_color;
    color: $main-text_color;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    @media ($media-mxw1){
      font-size: 12px;
      line-height: 12px;
    }
    @media ($media-mxw3){
      top: 0px;
      left: 20px;
      border-radius: 12px;
      padding: 3px 5px;
      font-size: 11px;
      line-height: 8px;
    }
  }
}
.timetable {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: default;
  @media ($media-mxw1){
    gap: 4px;
  }
  &__icon {
    color: $second_color_dark;
    font-size: 28px;
    line-height: 0;
    @media ($media-mxw1){
      font-size: 24px;
    }
    @media ($media-mxw2){
      font-size: 20px;
    }
  }
  &__text {
    color: $second_color_dark;
    @media ($media-mxw1){
      font-size: 9px;
    }
  }
  &__time {
    &_bold {
      font-weight: 900;
    }
  }
}