.main {
  margin-top: 165px;
  @media($media-mxw3){
    margin-top: 105px;
  }
  @media($media-mxw4){
    margin-top: 65px;
  }
  &__container {
    display: flex;
    gap: 30px;
    overflow: hidden;
  }
  &__leftside {
    flex: 0 0 260px;
  }
  &__catalogbar{
    width: 100%;
    margin-bottom: 40px;
  }
  &__news {
    width: 100%;
    margin-bottom: 40px;
  }
  &__reviews {
    width: 100%;
  }
  &__rightside {
    flex: 1 1 auto;
    
    min-height: 100vh;// temp
  }
  &__search {
    width: 100%;
    margin-bottom: 22px;
  }
}
