.news-block {
  &__title {
    margin-bottom: 26px;
    color: $second_color_medium;
    font-family: UniSansHeavyCaps, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 100ms;
  }
  &__card {
    width: 100%;
    margin-bottom: 30px;
  }
  @media ($media-mnw1) {
    &:hover {
      & .news-block__title {
        color: $main_color_light;
      }
    }
  }
}
.card-news {
  &__title {
    margin-bottom: 16px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    transition: 100ms;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    @media ($media-mxw3){
      justify-content: space-around;
    }
  }
  &__date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    color: $second_color_medium;
  }
  &__day {
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
  }
  &__month {
    font-size: 18px;
    line-height: 12px;
  }
  &__description {
    flex: 0 0 83%;
    line-height: 18px;
    color: $second_color_dark;
  }
  @media ($media-mnw1) {
    &:hover {
      & .card-news__title {
        color: $third_color;
      }
    }
  }
}