// ----------------------------------------------reset----------------------------------------------
@import 'reset.scss';

// ----------------------------------------------fonts----------------------------------------------
@import 'fonts.scss';
@import 'iconsfont.scss';

// ----------------------------------------------variables----------------------------------------------
$bg_color: #fff;
$main_color: #009baf;
$main_color_pale: #71c7d3;
$main_color_light: #1ab9ce;
$main_color_dark: #068292;
$main-text_color: #fff;
$second_color_light: #f3f3f3;
$second_color_medium: #dadada;
$second_color_dark: #999999;
$second_color_black: #000;
$third_color: #f68038;

$color_vk: #0077FF;
$color_facebook: #1877F2;
$color_instagram: #E4405F;
$color_telegram: #26A5E4;

$media-mnw1: 'min-width: 992px';

$media-mxw1: 'max-width: 1140px';
$media-mxw2: 'max-width: 992px';
$media-mxw3: 'max-width: 900px';
$media-mxw4: 'max-width: 768px';
$media-mxw5: 'max-width: 620px';
$media-mxw6: 'max-width: 500px';
$media-mxw7: 'max-width: 420px';

// ----------------------------------------------body----------------------------------------------
body {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

// ----------------------------------------------wrapper----------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

// ----------------------------------------------container----------------------------------------------
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// ----------------------------------------------import----------------------------------------------
@import 'components.scss';
@import 'header.scss';
@import 'main.scss';
@import 'catalogbar.scss';
@import 'news.scss';
@import 'reviews.scss';
@import 'search.scss';
@import 'swiper.scss';
@import 'topslider.scss';
@import 'popularslider.scss';
@import 'brandsslider.scss';
@import 'about.scss';
@import 'footer.scss';