// ----------------------------------------------reset----------------------------------------------
@import 'reset.scss';
// ----------------------------------------------fonts----------------------------------------------
@import 'fonts.scss';
@import 'iconsfont.scss';
// ----------------------------------------------variables----------------------------------------------
// $blue_text: #22b7ca;
// $blue_text: #36949f;
// $blue_el: #4da0b9;
// $blue_el: #098494;
// $blue_el: #068292;
// $lite-grey_images: #dddddd;
// $grey_images: #cbcbcb;
// $dark-grey_images: #b5b5b5;
// $lite-grey_text: #dadada;
// $dark-grey_text: #666666;

$bg_color: #fff;
$main_color: #009baf;
$main_color_pale: #71c7d3;
$main_color_light: #1ab9ce;
$main_color_dark: #068292;
$main-text_color: #fff;
$second_color_light: #f3f3f3;
$second_color_medium: #dadada;
$second_color_dark: #999999;
$second_color_black: #000;
$third_color: #f68038;
$third_color_lite: #f49e68;

$media-mnw1: 'min-width: 992px';

$media-mxw1: 'max-width: 1140px';
$media-mxw2: 'max-width: 992px';
$media-mxw3: 'max-width: 900px';
$media-mxw4: 'max-width: 768px';
$media-mxw5: 'max-width: 620px';
$media-mxw6: 'max-width: 500px';

// ----------------------------------------------body----------------------------------------------
body {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

// ----------------------------------------------wrapper----------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    min-height: 200vh;// temp
}

// ----------------------------------------------container----------------------------------------------
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

// ----------------------------------------------import----------------------------------------------
@import 'components.scss';
@import 'header.scss';
@import 'main.scss';
@import 'catalogbar.scss';
@import 'news.scss';
@import 'reviews.scss';
@import 'search.scss';
@import 'swiper.scss';
@import 'topslider.scss';
@import 'footer.scss';