.top-slider {
  position: relative;
  height: 408px;
  padding-bottom: 28px;
  overflow: hidden;
  @media($media-mxw5) {
    height: 300px;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }
  &__img {
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 45px;
    width: 100%;
    transform: translateY(-28px);
    counter-reset: item-number;
    @media($media-mxw5) {
      display: none;
    }
  }
  &__bullet {
    width: 56px;
    height: 56px;
    border: 2px solid $main-text_color;
    border-radius: 28px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    &::after {
      counter-increment: item-number;
      content: counter(item-number);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 900;
      background-color: $third_color;
      color: $main-text_color;
      opacity: 0;
      transition: 600ms;
    }
    &_active {
      &::after {
        opacity: 1;
      }
    }
  }
}
.slide-info {
  font-weight: 900;
  cursor: default;
  &__gradient {
    position: absolute;
  }
  &__title {
    position: absolute;
    font-size: 48px;
    line-height: 43px;
    text-transform: uppercase;
    @media($media-mxw5) {
      font-size: 36px;
      line-height: 32px;
    }
  }
  &__description {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    @media($media-mxw5) {
      font-size: 12px;
      line-height: 19px;
    }
  }
  &__style {
    &_1 {
    }
    &_2 {
      color: $third_color;
    }
    &_3 {
      padding: 4px 10px;
      color: $main-text_color;
      background-color: $second_color_dark;
      @media($media-mxw5) {
        padding: 2px 7px;
      }
    }
    &_4 {
      color: $second_color_dark;
    }
    &_5 {
      color: $main-text_color;
    }
  }
  &__price {
    position: absolute;
    color: $main-text_color;
    font-size: 36px;
    line-height: 30px;
    @media($media-mxw5) {
      font-size: 26px;
      line-height: 24px;
    }
  }
  &__button {
    position: absolute;
    padding: 10px 35px 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 9px;
    text-transform: uppercase;
    transition: 200ms;
    &::before {
      position: absolute;
      top: 50%;
      right: 11px;
      transform: translateY(-55%);
      font-size: 16px;
    }
    @media ($media-mnw1) {
      &:hover {
        background-color: $third_color;
      }
    }
  }
  &_1 {
    & .slide-info__gradient {
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(27, 58, 70, 0.9), transparent);
    }
    & .slide-info__title {
      top: 7%;
      left: 5%;
    }
    & .slide-info__description {
      top: 50%;
      left: 5%;
    }
    & .slide-info__price {
      top: 77%;
      left: 10%;
    }
    & .slide-info__button {
      top: 7%;
      right: 5%;
      border: 3px solid $second_color_black;
      color: $second_color_black;
    }
  }
  &_2 {
    & .slide-info__gradient {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(to top, rgba(27, 58, 70, 0.9), transparent);
    }
    & .slide-info__title {
      bottom: 13%;
      right: 5%;
      text-align: right;
    }
    & .slide-info__description {
      top: 7%;
      left: 5%;
    }
    & .slide-info__price {
      top: 37%;
      left: 5%;
    }
    & .slide-info__button {
      top: 53%;
      left: 5%;
      border: 3px solid $main-text_color;
      color: $main-text_color;
    }
  }
  &_3 {
    & .slide-info__gradient {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(to top, rgba(27, 58, 70, 0.9), transparent);
    }
    & .slide-info__title {
      bottom: 18%;
      left: 5%;
    }
    & .slide-info__description {
      top: 7%;
      right: 5%;
      text-align: right;
    }
    & .slide-info__button {
      top: 37%;
      right: 5%;
      border: 3px solid $main-text_color;
      color: $main-text_color;
    }
  }
  &_4 {
    & .slide-info__gradient {
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(28, 114, 136, 0.9), transparent);
    }
    & .slide-info__title {
      bottom: 15%;
      left: 5%;
      line-height: 54px;
    }
    & .slide-info__description {
      top: 7%;
      right: 5%;
      text-align: right;
    }
    & .slide-info__price {
      top: 21%;
      right: 5%;
      color: $third_color;
    }
    & .slide-info__button {
      bottom: 15%;
      right: 5%;
      border: 3px solid $second_color_black;
      color: $second_color_black;
    }
  }
  &_5 {
    & .slide-info__title {
      bottom: 21%;
      left: 5%;
      font-size: 120px;
    }
    & .slide-info__description {
      bottom: 39%;
      left: 5%;
      text-align: right;
    }
    & .slide-info__button {
      bottom: 47%;
      left: 5%;
      border: 3px solid $main-text_color;
      color: $main-text_color;
    }
  }

}
