.top-slider {
  position: relative;
  height: 408px;
  padding-bottom: 28px;
  overflow: hidden;
  &__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }
  &__img {

  }
  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(225, 225, 225, 0.8), transparent);
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 45px;
    width: 100%;
    transform: translateY(-28px);
    counter-reset: item-number;
  }
  &__bullet {
    width: 56px;
    height: 56px;
    border: 2px solid $main-text_color;
    border-radius: 28px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    &::after {
      counter-increment: item-number;
      content: counter(item-number);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 900;
      background-color: $third_color;
      color: $main-text_color;
      opacity: 0;
      transition: 600ms;
    }
    &_active {
      &::after {
        opacity: 1;
      }
    }
  }
}
.slide-info {
  display: flex;
  flex-direction: column;
  padding: 20px 36px;
  font-weight: 900;
  cursor: default;
  &__title {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 43px;
    text-transform: uppercase;
    & span {
      color: $third_color;
    }
  }
  &__description {
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    &_style1 {
      color: $third_color;
      font-size: 18px;
    }
    &_style2 {
    }
    &_style3 {
      padding: 5px 10px;
      color: $main-text_color;
      background-color: $second_color_dark;
    }
    &_style4 {
      color: $second_color_dark;
    }
  }
  &__price {
    align-self: center;
    margin-bottom: 20px;
    color: $main-text_color;
    font-size: 36px;
    line-height: 30px;
  }
  &__button {
    position: relative;
    align-self: center;
    padding: 10px 35px 10px 18px;
    border: 3px solid $main-text_color;
    border-radius: 20px;
    color: $main-text_color;
    font-size: 14px;
    line-height: 9px;
    text-transform: uppercase;
    transition: 200ms;
    &::before {
      position: absolute;
      top: 50%;
      right: 11px;
      transform: translateY(-55%);
      font-size: 16px;
    }
    @media ($media-mnw1) {
      &:hover {
        background-color: $third_color;
      }
    }
  }
}
.ibg {
  position: relative;
  height: 100%;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}